.link-button {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #aa8d56;
    color: #aa8d56;
    outline: medium none;
    padding: 15px;
    text-decoration: none;
}

.container {
    height: 160px;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .mb-2_call{
    margin-left: 20rem;
  }
  .mb-2_exit{
    margin-left: 20rem;
    float:left;
  }

  .Message_Area {
    margin-left: auto;
    margin-right: auto;
    background-color: #2C3E50;
  }

  .body_container{
    background-color: #F4D03F;
  }